# Puerto del servidor Express
PORT=3000

# Cadena de conexión a MongoDB
# Opción 1 (local): mongodb://localhost:27017/workhub
# Opción 2 (Atlas): mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/workhub?retryWrites=true&w=majority
MONGO_URI=mongodb://localhost:27017/workhub
