.footer-custom {
    background-color: var(--color-white);
     border-top: 1px solid #f0e2e2; /*aca puedes poner un borde con bootstrap */
}

/* Alineación de Logo */
.logo-img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

/* Texto Justificado */
.description-text {
    color: var(--color-gray-3);
    max-width: 280px;        /* Evita que el texto sea una sola línea larga */
    margin: 0 auto;          /* Centra el contenedor entero */
    line-height: 1.6;        /* Da espacio entre líneas */
    font-size: 14px;
}

/* Títulos de las columnas */
.title-link {
    font-size: 1rem;
    color: var(--color-dark);
}

/* Reset de Listas para Alineación Perfecta */
.custom-list {
    margin: 0;
    padding: 0;
}

.custom-list li {
    font-size: 14px;
    color: var(--color-gray-1);
    margin-bottom: 0.75rem;
    cursor: pointer;
    transition: color 0.2s;
}

.custom-list li:hover {
    color: #3182ce;
}

/* Iconos Sociales */
.social-link {
    color: var(--color-gray-2);
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.2s;

    display:flex;
align-items:center;
font-size:1.2rem;
}

.bi-at{
font-size: 1.6rem;
}

.social-link:hover {
    color: var(--color-gray-3);
    transform: scale(1.2);
}

/* Copyright */
.copyright-text {
    font-size: 12px;
    color: var(--color-gray-1);
}